---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeFeed from '../components/HomeFeed';
---

<Layout title="アーケード">
  <Header />

  <main class="max-w-5xl mx-auto px-4 py-6">
    <HomeFeed client:load />
  </main>
</Layout>
